:root{
    --blanco:#ffffff;
    --oscuro:#03053a;
    --primario: #187e29;
    --secundario: #0077b6;
    --gris:#d2d7db;
    --tamaño-fuente:16px;
}

html{
    font-size: 62.5%;
}

body{
    font: "Roboto", sans-serif;
    font-size: var(--tamaño-fuente); /*1rem = 16px*/
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.6rem;
}

h1,h2,h3{
    text-align: center;
}

/*utilidades*/
.contenedor{
    width: 75%;
    margin: 0 auto;
}

.bg-secundario{
    background-color: var(--primario);
}

.título{
    color: var(--secundario);
    font-size: 3.8rem;
    text-align: center;
}

.título span{
    color: var(--primario);
    font-size: 2rem;
}

p{
    font-size: 2.6rem;
}

.navegación-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--primario);
}

@media (min-width: 768px) {
    .navegación-principal{
        flex-direction: row;
    }
}

.navegación-principal a{
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 1rem 1rem 1rem 1rem;
}

.navegación-principal a:hover{
    color: var(--oscuro);
    background-color: var(--secundario);
}

/*estilos para el hero*/
.hero{
    background-image: url("../img/hero-1024x768.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
}

.contenido-hero{
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--blanco);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informacion{
    display: flex;
    justify-content: center;
}