html{
    font-size: 62.5%;
}

body{
    font: "Roboto", sans-serif;
    font-size: 16px; /*1rem = 16px*/
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.8rem;
}

.título{
    color: #0077b6;
    font-size: 3.8rem;
    text-align: center;
}

.título span{
    color: #187e29;
    font-size: 2rem;
}